/* ImageUpload.css */
.image-upload-container {
    text-align: center;
  }
  
  .image-preview {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 20px;
    border: 2px solid #ddd;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  .image-preview img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  
  .dropzone {
    border: 2px dashed #ccc;
    border-radius: 4px;
    padding: 20px;
    cursor: pointer;
  }
  